<a href="https://colab.research.google.com/github/beatricexc/DS-Practice-2/blob/main/DS_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np #linear algebra
import pandas as pd # data processing, CSV files (e.g pd.read_csv)
import matplotlib.pyplot as plt 
import seaborn as sns # visualisation tool

In [3]:
data = pd.read_csv('/content/drive/MyDrive/pokemon.csv')
data.head()

   #           Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1      Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2        Ivysaur  Grass  Poison  ...       80     60           1      False
2  3       Venusaur  Grass  Poison  ...      100     80           1      False
3  4  Mega Venusaur  Grass  Poison  ...      120     80           1      False
4  5     Charmander   Fire     NaN  ...       50     65           1      False

[5 rows x 12 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        799 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [5]:
data.corr()

                   #        HP    Attack  ...     Speed  Generation  Legendary
#           1.000000  0.097712  0.102664  ...  0.012181    0.983428   0.154336
HP          0.097712  1.000000  0.422386  ...  0.175952    0.058683   0.273620
Attack      0.102664  0.422386  1.000000  ...  0.381240    0.051451   0.345408
Defense     0.094691  0.239622  0.438687  ...  0.015227    0.042419   0.246377
Sp. Atk     0.089199  0.362380  0.396362  ...  0.473018    0.036437   0.448907
Sp. Def     0.085596  0.378718  0.263990  ...  0.259133    0.028486   0.363937
Speed       0.012181  0.175952  0.381240  ...  1.000000   -0.023121   0.326715
Generation  0.983428  0.058683  0.051451  ... -0.023121    1.000000   0.079794
Legendary   0.154336  0.273620  0.345408  ...  0.326715    0.079794   1.000000

[9 rows x 9 columns]

In [6]:
data.corr()

                   #        HP    Attack  ...     Speed  Generation  Legendary
#           1.000000  0.097712  0.102664  ...  0.012181    0.983428   0.154336
HP          0.097712  1.000000  0.422386  ...  0.175952    0.058683   0.273620
Attack      0.102664  0.422386  1.000000  ...  0.381240    0.051451   0.345408
Defense     0.094691  0.239622  0.438687  ...  0.015227    0.042419   0.246377
Sp. Atk     0.089199  0.362380  0.396362  ...  0.473018    0.036437   0.448907
Sp. Def     0.085596  0.378718  0.263990  ...  0.259133    0.028486   0.363937
Speed       0.012181  0.175952  0.381240  ...  1.000000   -0.023121   0.326715
Generation  0.983428  0.058683  0.051451  ... -0.023121    1.000000   0.079794
Legendary   0.154336  0.273620  0.345408  ...  0.326715    0.079794   1.000000

[9 rows x 9 columns]

In [8]:
data.head()

   #           Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1      Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2        Ivysaur  Grass  Poison  ...       80     60           1      False
2  3       Venusaur  Grass  Poison  ...      100     80           1      False
3  4  Mega Venusaur  Grass  Poison  ...      120     80           1      False
4  5     Charmander   Fire     NaN  ...       50     65           1      False

[5 rows x 12 columns]

In [9]:
data.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

#While and For loops

In [21]:
# Stay in a loop if condition( i is not equal 5) is true
i = 0
while i != 5:
  print('i is : ', i)
  i += 1
print(i, 'is equal to 5')

i is :  0
i is :  1
i is :  2
i is :  3
i is :  4
5 is equal to 5

In [25]:
# Stay in a loop if condition( i is not equal to 5) is true
lis = [1, 2, 3, 4, 5]
for i in lis:
  print('i is: ', i)
print('')


# Enumerate index and value of list
# index : value = 0:1, 1:2, 2:3, 3:4, 4:5
for index, value in enumerate(lis):
  print(index, " : ", value)
print('')

# For dictionaries 
# We can use for loop to achieve key and value of dictionary
dictionary = {'spain': 'madrid', 'france': 'paris'}
for key, value in dictionary.items():
  print(key, " : ", value)
print('')

# For pandas we can achieve index and value 
for index, value in data[['Attack']][0:1].iterrows():
  print(index, " : ", value)

i is:  1
i is:  2
i is:  3
i is:  4
i is:  5

0  :  1
1  :  2
2  :  3
3  :  4
4  :  5

spain  :  madrid
france  :  paris

0  :  Attack    49
Name: 0, dtype: int64

# 2. Python Data Science Toolbox

- doctrings: documentation for functions. Example:
for f(): 
"""This is docstring for documentation of function f """
- tuple: sequence of immutable python objects.
    - they can modify values
    - they use parameters like tuple = (1,2,3)
    - unpack tuple into several variables like a,b, c = tuple

In [27]:
 # example 
 
 def tuple_ex():
   """ return define t tuple """ 
   t = (1, 2, 3 )
   return t 
a, b, c= tuple_ex()
print(a, b, c)

1 2 3

SCOPE 

What we need to know about scope:

- global: defined main body in script
- local: defined in a function
- built in scope: names in predefined built in scope module such as print, len

Lets make some basic examples

In [31]:
# guess prints what
x = 2
def f():
    x = 3
    return x
print(x)      # x = 2 global scope
print(f())    # x = 3 local scope

2
3

In [32]:
# With no local scope 

x = 5
def f (): 
  y = 2 * x      # there is no local scope x 
  return y
print(f())       # it uses the global scope x 
# First local scope searched, then global scope searched, if two of them cannot be found lastly built in scope searched.

10

In [37]:
#Learning what is built in scope 

import builtins 
dir(builtins)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__pybind11_internals_v3_gcc_libstdcpp_cxxabi1002__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'dreload',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

Nested functions 

- function inside a function
- There is a LEGB rule that is 
        - L : search for LOCAL rule
        - E : ENCLOSING function
        - G : GLOBAL rule
        - B : BUILT IN scope

In [38]:
# nested function 

def square (): 
  """ Return square of value"""
  def add():
    """ add two local variables"""
    x = 4
    y = 2
    z = x + y 
    return z
  return  add()** 2

print(square())

36

**Default and Flexible Arguments** 

- Default arguments eg: 
  def f (a, b=1):
          -  b = 1 is a default argument 
- Flexible arguments eg: 
  def f (*args):
         -  * args can be bone or more 
  
  def f(**kwargs)
        -  ** kwargs is a dictionary

In [46]:
#default arguments 
def f (a,b = 1 , c= 2):
   y = a + b + c
   return y 

print(f(5))
# what if we want to change default arguments 
print(f(5, 4, 3))

8
12

In [47]:
# flexible arguments * args 
def f (*args):
  for i in args:
    print(i)
f(1)
print("")

# flexible arguments **kwargs that is dictionary 
def f(**kwargs): 
  """ print key and value of dictionary"""
  for key, value in kwargs.items():
    print(key, " " , value)
f(country = 'spain', capital = 'madrid', population = 123456)

1

country   spain
capital   madrid
population   123456

**Lambda Function**

The faster way of writing a function

In [48]:
# lambda function

square = lambda x : x**2      # where x is the name of the argument 
print(square(4))
tot = lambda x, y, z: x+y+z   # where x, y, z are the names of the arguments 
print(tot(1,2,3))

16
6